/* Author: Melat A Ali 
   Project: Assignment 2 --> */

/* HEADER
   References:
   https://envato.com/blog/css3-typography-code-snippets/ 
   Colored 3-D Effect - Brian Guerrero */

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");
html {
  -webkit-font-smoothing: antialiased;
} 

.title {
  font-family: "Dancing Script";
  font-size: 130px;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 255, 0, 0.7);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: -10px 0 #383838, 10px 0 rgba(255, 0, 0, 0.7);
}

.header {
  width: 96.85%;
  height:55%;
  padding: 20px;
  text-align: center;
  background: #181818;
  left:0;
}

.title2 {
  font-family: "Dancing Script";
  font-size: 73px;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 255, 0, 0.7);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: -10px 0 #383838, 10px 0 rgba(255, 0, 0, 0.7);
}

/*BODY*/

html {
  width:100%;
  height:100%;
}

body {
  background-color:#2d2d2d;
}

p {
  color: white;
  font-size:20px;
  text-align:justify;
  font: "Times New Roman";
}

/*IMAGES*/

img {
  max-width: 81px;
  max-height: 86px;
  display: inline;
  padding:0.2px;
  margin: 0 0;}

/*MENU
References: 
https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar*/

ul {
  list-style-type: none;
  margin: 0;
  float: bottom;
  padding: 0;
  overflow: hidden;
  background-color: #3d3d3d;
}

li {
  float: left;
}

/* drop1 */

li.drop1 {
  display: inline-block;
}

.drop1:hover .drop3 {
  display: block;
}

/* drop2 */

li a, .drop2 {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 21px 21px;
  text-decoration: none;
  width: 165px;
}

li a:hover, .drop1:hover .drop2 {
  background-color: #9FA2B2;
}

/* drop3 */

.drop3 {
  display: none;
  position: absolute;
  background-color: #DBC2CF;
  min-width: 200px;
}

.drop3 a {
  color: #fffff;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/*FORM*/

form {
  margin: 0 auto;
  width: 75%;
  padding: 1em;
  padding-bottom:40px;
}

form h2 {
  text-align: center;
  color: black;
  font-weight: bolder;
}

fieldset {
  background-color: #DBC2CF;
}

.formtitle {
  margin: 0;
  background-color: #9FA2B2;
  height:30px;
}

.formitem, .button {
  color: #822b9a;
  text-align: center;
  padding:8px;
  display: inline-block;
}

.checkboxes {
  color: #822b9a;
  text-align: justify;
  padding:0px;
  display: inline-block;
  top:0;
  padding-left:10px;
  padding-right:90px;
}

label {
  color: #822b9a;
  font-size:20px;
  font: "Times New Roman";
  display: inline-block;
  font-weight:bold;
}

#firstname, #lastname, #phone, #email{
  width: 190px;
  height:30px;
  border: 2px solid #DBC2CF;
  border-radius: 4px;
}

input [type=checkbox] {
  width:10px;
  height:20px;
}

input:focus {
  background-color: #9FA2B2;
}

textarea {
  width:410px;
  height:75px;
  padding:0px;
}

.errors {
  color:black;
  font-size:5px;
}

.showerror {
  background-color: red;
  padding:0;
}

.formitem2 {
  color: #822b9a;
  text-align: center;
  padding:5px;
  display: inline-block;
  position:relative;
  bottom:60px;
}

.button {
  display: inline-block;
  margin-left:703px;
  position:relative;
  bottom:50px;
  border: #822b9a;
  text-decoration: none;
  font-size:20px;
}

.button:hover {
  opacity: 100;
}

/*FOOTER*/

footer {
  position:fixed;
  background-color:#181818;
  bottom:0;
  height:40px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  color:white;
  font-size:20px; 
}

footer img {
  max-width:15px;
  max-height:20px;
  padding:0px;
}
